# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/

# Virtual environments
.venv/
venv/
ENV/

# Tests
.pytest_cache/
.coverage
htmlcov/

# Tooling
.mypy_cache/
.pyre/
.ruff_cache/
.ty/

# Editors
.vscode/
.idea/
.DS_Store

# Logs
*.log


# LabVIEW
.aliases
*.lvlps
